
.DS_Store
VaxGuideSG.xcodeproj/project.xcworkspace/xcuserdata/owrmac.xcuserdatad/UserInterfaceState.xcuserstate
VaxGuideSG.xcodeproj/xcuserdata/owrmac.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
